@charset "utf-8";
/* CSS Document */

/*-----------------------
Global configuration - web for mobile 
-------------------------*/

.site {
	
	display: grid;
	color:#222;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: lighter;
	line-height: 1.5em;
	
}

.masthead {
	
	display: block;
	text-align: center;
	background-color:#cc003d;
	margin-top: 0;
	height: 100px;
}

.div-logo {

	float: left;
	margin: 15px;
	padding: 15px;
}

.logo {

	width: 100%;	
}

.div-menu-mob {
	
	margin-top: 30px;
	margin-right: 10px;
	float: right;
	cursor: pointer;
}

#menu-icon {
	
	height: 45px;
}

#myLinks {

	display:none;			
}
.nav-menu a {
	
	display: block;
	list-style: none;
	text-align: center;
	width: 100%;
	background-color: #222;
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	padding-top: 10px;
	padding-bottom: 10px;
}

.nav-menu a:hover {

	background-color: rgba(221, 215, 215, 0.973);
	color: #222;
}

.div-showcase {	
	position: relative;
	height: 600px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./21119.jpg');	
	background-size: cover;
	background-position: center;
	}

.center {
	position: absolute;	
	top: 50%;
	left: 50%;
	text-align: center;
	color: #fff;
	line-height: 200%;
	font-size: 30px;
	transform: translate(-50%, -50%);
	padding: 30px;
	border: 10px solid #fff;
	font-weight: bold;
  }

  #image {

	  height: auto;
	  text-align: center;
	  width: 100%;
  }
  .div-about-picture {
	  text-align: justify;
	  color: #000;
	  background-color:#cc003d;
	  padding: 20px;
  }

  .div-about-picture h1 {
	  padding: 15px;
	  text-align: center;
  }

  .div-about-text {
	text-align: justify;
	color: #000;
	background-color:#cc003d;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	font-size: 18px;

  }



