@charset "utf-8";
/* CSS Document */

/*-----------------------
Global configuration - web for mobile 
-------------------------*/

.site {
	
	display: grid;
	color:#222;
	font-family: 'Gayathri', sans-serif;;
	font-size: 16px;
	font-weight: 100;
	line-height: 1.5em;
	transition: all 0.4s;
	letter-spacing: 2px;
	
}

.masthead {
	
	display: block;
	text-align: center;
	margin-top: 0;
	height: 150px;
	
}

.div-logo {

	float: left;
	margin-top: 10px;
	margin-left: 0;
	padding: 15px;
	
}

.logo {

	width: 100%;
		
}

.div-menu-mob {
	
	margin-top: 90px;
	margin-right: 10px;
	float: right;
	cursor: pointer;
}

#menu-icon {
	
	height: 45px;
}

#myLinks {

	display:none;			
}
.nav-menu a {
	
	display: block;
	list-style: none;
	text-align: center;
	width: 100%;
	background-color: #222;
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	padding-top: 10px;
	padding-bottom: 10px;
}

.nav-menu a:hover {

	background-color: rgba(221, 215, 215, 0.973);
	color: #222;
}

.div-showcase {	
	position: relative;
	height: 600px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./21119.jpg');	
	background-size: cover;
	background-position: center;
	}

.center {
	position: absolute;	
	top: 50%;
	left: 50%;
	text-align: center;
	color: #fff;
	line-height: 200%;
	font-size: 30px;
	transform: translate(-50%, -50%);
	padding: 30px;
	border: 10px solid #fff;
	font-weight: bold;
  }

  #image {

	  height: auto;
	  text-align: center;
	  width: 100%;
  }

  section .about {

	display: grid;  
	
  }
  
  
  .div-about-picture h1 {

	text-align: center;
	color: #000;  
	padding-bottom: 15px;	  
  }

  .div-about-picture {
	  
	  padding: 20px;
  }

  #image {
	max-width: initial;
	max-height: initial;
  }

  .div-about {
	background-color: #f4c2c2;
	padding-bottom: 40px;
  }

  .div-about-text {
	margin-right: 40px;
	margin-left: 40px;
	padding: 20px;
	text-align: left;
	background-color: #000;
	color: #dbdbdb;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	font-size: 18px;
  }

.list-prices {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-left: 50px;
	text-align: left;
}

.list-prices > span {
	padding: 10px;
	font-size: 14pt;
	
}

.list-prices > span .description {
	text-align: left;
}

.div-services h1 {
	text-align: center;
	color: #000;  
	padding: 15px;	  
  }


